{% extends 'base.html' %}
{% block content %}

    <div class="object_list">
        <form class="d-flex" role="search" action="{% url 'monuments:list_monument' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </form>
        {% for monument in ctx %}
            <a style="color: black" href="/monuments/detail_monument/{{ monument.id }}">
                <div class="object_list_container">
{#                    <div class="monument_list_name"><h4>{{ monument.name }}</h4></div>#}
                    <div class="object_list_content ">
                        <h4>{{ monument.name }}</h4>
                        {{ monument.description | truncatechars:190}}
                    </div>
                <img class="object_list_img" src="{{ monument.picture.url }}" alt="{{ monument.name }} picture">
            </div>
            </a>

        {% endfor %}
    </div>
{% endblock %}
