{% extends 'base.html' %}

{% block content %}
    <div class="object_list">
        <form class="d-flex" role="search" action="{% url 'culture:list_culture' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </form>
        {% for custom in ctx %}
            <a style="color: black" href="/cultures/detail_culture/{{ custom.id }}">
                <div class="object_list_container">
                    <div class="object_list_content ">
                        <h4>{{ custom.name }}</h4>
                        {{ custom.description | truncatechars:190}}
                    </div>
                <img class="object_list_img" src="{{ custom.picture.url }}" alt="{{ custom.name }} picture">
            </div>
            </a>

        {% endfor %}
    </div>
{% endblock %}