{% extends 'base.html' %}
{% load user_profiles_tags %}

{% block content %}
    <div class="object">
        {% if ctx.picture %}
            <img class="object_img" src="{{ ctx.picture.url }}" alt="{{ ctx.name }}">
        {% else %}
            <img class="object_img" src="" alt="{{ ctx.name }}">
        {% endif %}
        <div class="object_content">
            <h1>{{ ctx.name }}</h1>
            <h5>{{ ctx.description }}</h5>
        </div>
    </div>
    <br>
    <div class="object">
        {% if user.is_authenticated %}
            <p>Оставить комментарии</p>
            {% comment_form ctx.id %}
        {% else %}
            <a class="nav-link active" href="{% url 'login' %}"> Что-бы комментировать, войдите в аккаунт </a>
        {% endif %}
        <br>
        {% comments_show ctx.id as comments %}
        {% for comment in comments %}
            <div class="object">
                <div style="font-weight: bold">{{ comment.profile.user.username }}</div>
                {{ comment.created_at }}
                <br>
                {{ comment.text }}
            </div>
        {% endfor %}
    </div>

{% endblock %}